// navbar stick to top
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;

  .navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;

    img {
        height: 60px;
      margin-right: 20px;
    }
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;

    img {
      width: 60px;
      height: 60px;
      margin-left: 20px;
      border-radius: 50%;
    }
  }
}
