.table-container {
    width: 90%;
    margin: 20px auto;
  .boots-table {
    width: 100% !important;
    text-align: center !important;
  }

//   tbody tr td {
//     .btn {
      
//     }
//   }
}
